<section class="navbar">
  <a class="logo" href="/">
    <img class="navbar-logo" src="/images/logo.jpg" alt="blogApp-logo" />
    <h2> MyBlog</h2>
  </a>
  <div>
    <a class="navbar-anchor" href="/">Home</a>
    <a class="navbar-anchor" href="/contact">Contact</a>
    <a class="navbar-anchor" href="/about ">About</a>
  </div>
  <% if(locals.createBlogbutton) {%>
    <a class="btn-create-post" href="/create">✏️ Create Post</a>
    <% }%>
</section>

