<section class="navbar">
  <h2>
    <img class="navbar-logo" src="/images/logo.jpg" alt="blogApp-logo" /> MyBlog
  </h2>
  <div>
    <a class="navbar-anchor" href="/">Home</a>
    <a class="navbar-anchor" href="/about">About</a>
    <a class="navbar-anchor" href="/contact">Contact</a>
  </div>
  <button class="btn-create-post">✏️ Create Post</button>
</section>
