<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <section class="hero">
      <div class="hero-image">
        <%- include('./partials/navbar.ejs') %>
        <div class="hero-text">
          <h3 class="hero-welcome-text">Welcome to MyBlog 👋</h3>
          <h1 class="hero-heading">Thoughts, Stories & Ideas</h1>
          <p>
            A simple blogging platform to share your ideas <br />
            with the world.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
